<div class="container my-5">
  <div class="card_guided_entry multisteps-form">
    <%= simple_form_for :guided_entry_builder, url: guided_entries_path, html: { class: 'multisteps-form__form' } do |f| %>
      <div id="first-question" class="multisteps-form__panel js-active" data-animation="slideHorz">
        <%= f.fields_for :answer_1 do |fa| %>
          <h5><%= fa.input :content, label: "#{@questions[0].content}", as: :text, input_html: {rows: 5} %></h5>
          <%= fa.input :question_id, as: :hidden, input_html: { value: @questions[0].id } %>
        <% end %>
        <br>
        <div class="buttons d-flex justify-content-between">
          <%= link_to "Back", menu_path, class: "btn button-sm"  %>
          <div id="next-1" class="btn button-sm js-btn-next">Next</div>
        </div>
        <br>
        <br>
        <i class="fas fa-circle"></i>
        <i class="far fa-circle"></i>
        <i class="far fa-circle"></i>
      </div>
      <div id="second-question" class="multisteps-form__panel" data-animation="slideHorz">
        <%= f.fields_for :answer_2 do |fa| %>
          <h5><%= fa.input :content, label: "#{@questions[1].content}", as: :text, input_html: {rows: 5} %></h5>
          <%= fa.input :question_id, as: :hidden, input_html: { value: @questions[1].id } %>
        <% end %>
        <br>
        <div class="buttons d-flex justify-content-between">
          <div id="back-2" class="btn button-sm js-btn-prev">Back</div>
          <div id="next-2" class="btn button-sm js-btn-next">Next</div>
        </div>
        <br>
        <br>
        <i class="far fa-circle"></i>
        <i class="fas fa-circle"></i>
        <i class="far fa-circle"></i>
      </div>
      <div id="third-question" class="multisteps-form__panel" data-animation="slideHorz">
        <%= f.fields_for :answer_3 do |fa| %>
          <h5><%= fa.input :content, label: "#{@questions[2].content}", as: :text, input_html: {rows: 5} %></h5>
          <%= fa.input :question_id, as: :hidden, input_html: { value: @questions[2].id } %>
        <% end %>
        <br>
        <div class="buttons d-flex justify-content-between">
          <div id="back-3" class="btn button-sm js-btn-prev">Back</div>
          <%= f.button :submit, "Next", class: "btn button-sm" %>
        </div>
        <br>
        <br>
        <i class="far fa-circle"></i>
        <i class="far fa-circle"></i>
        <i class="fas fa-circle"></i>
      </div>
    <% end %>
  </div>
</div>
<br>




