<%= simple_form_for @entry do |f| %>
  <div id="first-question">
    <%= f.input :content, label: "#{@questions[0].content}" %>
    <button id="next-1" class="btn-next">Next</button>
  </div>
  <div id="second-question" class="d-none">
    <%= f.input :content, label: "#{@questions[1].content}" %>
    <button id="next-2" class="btn-next">Next</button>
  </div>
  <div id="third-question" class="d-none">
    <%= f.input :content, label: "#{@questions[2].content}" %>
    <%= f.button :submit %>
  </div>
<% end %>
