<div class="container-entries">
  <h1>My Entries</h1>
  <% @entries.reverse.each do |entry| %>
    <div class="card_entry">
      <%= link_to entry_path(entry) do %>
        <div class="entry-title">
          <h4><%= entry.created_at.strftime("%e %B %Y") %></h4>
          <% if entry.mood == 1%>
            <i class="fas fa-meh emoji emoji-entry"></i>
          <% elsif entry.mood == 2 %>
            <i class="fas fa-smile emoji emoji-entry"></i>
          <% elsif entry.mood == 3 %>
            <i class="fas fa-angry emoji emoji-entry"></i>
          <% elsif entry.mood == 4 %>
            <i class="fas fa-frown emoji emoji-entry"></i>
          <% elsif entry.mood == 5 %>
            <i class="fas fa-sad-tear emoji emoji-entry"></i>
          <% elsif entry.mood == 6 %>
            <i class="fas fa-tired emoji emoji-entry"></i>
          <% end %>
        </div>
        <small><%= entry.content %></small>
      <% end %>
      <div class="entry-footer">
        <div class="dropdown <%= current_user.communities.present? ? '' : 'invisible' %>">
          <button class="btn p-0" type="button" id="entry-<%= entry.id %>" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-share"></i>
          </button>
          <div class="dropdown-menu" aria-labelledby="entry-<%= entry.id %>">
            <% current_user.communities.each do |community| %>
              <%= link_to community.name, entry_share_path(entry, community), class: "dropdown-item" %>
            <% end %>
          </div>
        </div>
        <%= link_to edit_entry_path(entry) do %>
          <small><i class="fas fa-edit"></i></small>
        <% end %>
      </div>
    </div>
  <% end %>
</div>


