<div class="card_entry_show">
  <p><%#= current_user %></p>
  <h4>Updated at:</h4>
  <p><%= @entry.updated_at %></p>
  <h4>Content:</h4>
  <p><%= @entry.content %></p>
</div>
<%= link_to 'Edit entry', edit_entry_path(@entry) %>
<br>
<%= link_to 'Go back to entries', entries_path %>
<br>
<%= link_to 'Go back to home page', root_path  %>
