<div class="buttons">
<%= link_to 'Back', entries_path, class: 'button-sm' %>
<%= link_to 'Edit', edit_entry_path(@entry), class: 'button-sm' %>
<%= link_to 'Home', root_path, class: 'button-sm'  %>
</div>

<div class="card_entry_show">
  <p><%#= current_user %></p>
  <h4>Updated at:</h4>
  <p><%= @entry.updated_at %></p>
  <h4>Content:</h4>
  <p><%= @entry.content %></p>
</div>


