<div class="container community-cards-container" style="border: 1px solid red;">
  <% @communities.each do |community| %>
    <div class="container community-card my-4">
      <%= link_to community_path(community) do %>
        <h5><%= community.name %></h5>
        <div class="community-members d-flex justify-content-center align-items-center">
          <i class="fas fa-users"></i>
          <%= community.users.count %>
          <% if community.owner == current_user %>
            <i class="fas fa-tag justify-self-end"></i>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
  <% @requests.each do |request| %>
    <div class="container request-card my-4">
        <h5><%= request.community.name %></h5>
        <div class="requests d-flex justify-content-around align-items-center">
          <%= link_to 'Accept', decide_path(request: request, accept: true), class: "accept" %>
          <%= link_to 'Deny', decide_path(request: request, accept: false), class: "deny" %>
        </div>
    </div>
  <% end %>
  <%= link_to 'New Community', new_community_path, class: "btn button-sm btn-community" %>
</div>
