<h1>My Communities</h1>

<% @communities.each do |community| %>
  <div class="container my-2" style="background-color: white; width: 50%;">
    <%= link_to community_path(community) do %>
      <%= community.name %>
      <% if community.owner == current_user %>
        <br>
        <%= link_to 'Edit community', edit_community_path(community) %>
        <br>
        <%= link_to 'Delete community', community_path(community), method: :delete, data: { confirm: "Are you sure?" } %>
      <% end %>
    <% end %>
  </div>
<% end %>
<% @requests.each do |request| %>
  <div class="container my-2" style="background-color: lightgray; width: 50%;">
    <%= request.community.name %>
      <br>
      <%= link_to 'Accept', decide_path(request: request, accept: true) %>
      <br>
      <%= link_to 'Deny', decide_path(request: request, accept: false) %>
  </div>
<% end %>
<%= link_to 'Create a new community', new_community_path %>
<br>
<%= link_to 'Go back to home page', root_path  %>
