<div class="container chat-container my-3">
  <div class="chat-header-container d-flex justify-content-between">
    <div class="community-info">
      <h4>#<%= @community.name %></h4>
      <div class="community-users-info d-flex justify-content-start align-items-center">
        <i class="fas fa-users"></i>
        <i class="me-2"><%= @community.users.count %></i>
      </div>
    </div>
    <% if @community.owner == current_user %>
      <i class="fas fa-edit align-items-stretch"></i>
    <% else %>
      <i class="fas fa-sign-out-alt align-items-stretch"></i>
    <% end %>
  </div>
  <div class="chat">
    <div id="messages" data-community-id="<%= @community.id %>">
      <% @community.messages.each do |message| %>
        <%= render "messages/message", message: message %>
      <% end %>
    </div>
    <%= simple_form_for [ @community, @message ], remote: true do |f| %>
      <%= f.input :content, label: false, placeholder: "Message ##{@community.name}", input_html: { class: "send-message" }  %>
    <% end %>
  </div>
</div>
<%= link_to 'Go back', communities_path, class: 'btn btn-back'  %>


