<div class="container chat-container my-3">
  <div class="chat-header-container d-flex justify-content-between align-items-center">
    <div class="community-info">
      <h4>#<%= @community.name %></h4>
      <div class="community-users-info d-flex justify-content-start align-items-center me-2">
        <i class="fas fa-users"></i>
        <small class="me-2"><%= @community.users.count %></small>
      </div>
    </div>
    <% if @community.owner == current_user %>
      <%= link_to edit_community_path(@community) do %>
        <i class="fas fa-edit align-items-stretch"></i>
      <% end %>
    <% else %>
      <%= link_to community_member_path(@community), method: :delete, data: { confirm: 'Exit this community?' } do %>
        <i class="fas fa-user-slash align-items-stretch"></i>
      <% end %>
    <% end %>
  </div>



  <!-- MESSAGES -->
  <div class="chat">
    <div id="messages" data-community-id="<%= @community.id %>">
      <% @community.messages.each do |message| %>
        <%= render "messages/message", message: message %>
      <% end %>
    </div>

    <!-- SEND MESSAGE -->
    <div class="chatroom-footer">
      <%= simple_form_for [ @community, @message ], remote: true do |f| %>
        <%= f.input :content, label: false, placeholder: "Message ##{@community.name}", input_html: { class: "send-message" }  %>
        <div class="d-flex justify-content-between align-items-center">
          <%= link_to 'Go back', communities_path, class: 'btn button-sm' %>
          <%= f.button :submit, "Send", class: "btn button-sm" %>
        </div>
      <% end %>
    </div>
  </div>
</div>




