<div class="container">
  <h1>#<%= @community.name %></h1>
  <h2>Created by <%= @community.owner.nickname %></h2>
  <div id="messages" data-community-id="<%= @community.id %>">
    <% @community.messages.each do |message| %>
      <%= render "messages/message", message: message %>
    <% end %>
  </div>
  <%= simple_form_for [ @community, @message ], remote: true do |f| %>
    <%= f.input :content, label: false, placeholder: "Message ##{@community.name}" %>
  <% end %>
  <%= link_to 'Go back', communities_path  %>
</div>


